@CHARSET "ISO-8859-1";
@charset "utf-8";
/* CSS Document */

	body
	{
	margin 0;
	font-family: "Lucida Calligraphy";
	font-size: 10pt;
	color: black;
	}
	
	#landmark
	{
	font-family: "Lucida Calligraphy";
	border-top: 1px solid #666;
	border-style:solid;
	position: absolute;
	top: 210px;
	left: +20px;
	height: 280px;
	width: 160px;
	}
	#logoContainer
	{
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 5px;
		width: 180px;
		height: 150px;
	}
	
	#linkContainer
	{
		padding:	0cm 0cm 0cm 0cm;
		margin:		10px 0px 0px 15px;  <!-- top, dx, bottom, sx -->
	}
	
	#headerContainer
	{
		position: absolute;
		top:	50px;
		right: +200px;
	
	}
	
	
	#p3
	{
	font-family: "Century Schoolbook";
	position: absolute;
	top: 210px;
	right: +200px;
	left: 243px;
	width: 111px;
	height: 50px;
	}
	
	div.sottotitolo
	{
	font-family: "Century Schoolbook";
	color: #000;
	position: absolute;
	top: 291px;
	right: +200px;
	left: 1px;
	width: 289px;
	height: 32px;
	}